@import "tailwindcss";
@import "aos/dist/aos.css";


/* ################### Welcome Page Stylings ################### */

.blinking-bg{
  animation: blinking 3s infinite;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); /* inner shadow */
}
@keyframes blinking {
  0% { background-color: #010058; }
  50% { background-color: #00033a; }
  100% { background-color: #010058; }
}

html{
  scroll-behavior: smooth;
  background-color: black;
}